# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Ignoring code::blocks project files
*.cbp
*.depend
*.layout

# Removing dlls
*.dll


source/test.png